################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**/bin/
**/obj/
*.user
# local test data
/SocialTalents.MongoSync.Console/636*.json
